.footer-form {
    margin-left: auto;
}

.footer-form__buttons {
    display: flex;
}

.footer-form__input {
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 358px;
    height: 50px;
    background-color: #2F303A;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover {
    border-color: var(--accent-color);
}

.footer-form__input:focus {
    outline: 0;
    border-color: var(--accent-color);
}